<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="unchiのカードを作る奴" />
  <title>unchi</title>
  <link rel="icon" href="./favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500;700&family=Roboto+Condensed:wght@700&display=swap"
    rel="stylesheet" crossorigin="anonymous">
  <link href="./style.css" rel="stylesheet">
</head>

<body>
  <div id="app" v-cloak>
    <div class="wrapper" v-if="cardSet !== null">
      <div id="card" class="card-container u-center" v-show="mode===0">
        <div class="card-inner">
          <div class="card-inner-top">
            <div class="card-inner-cost u-center" :style="{ 'background-color': mainColor }">
              <div class="u-flex-one">
                <span class="u-no-stroke">{{playCost}}</span>
                <span>{{playCost}}</span>
              </div>
              <div>
                <span class="u-no-stroke">:</span>
                <span>:</span>
              </div>
              <div class="u-flex-one">
                <span class="u-no-stroke">{{resolveCost}}</span>
                <span>{{resolveCost}}</span>
              </div>
            </div>
            <div class="card-inner-name-row u-flex-one">
              <div class="card-inner-top-name u-flex-one">
                {{name}}
              </div>
              <div class="card-inner-top-division u-center" :style="{ 'background-color': mainColor }">
                <span class=" u-no-stroke">{{division}}</span>
                <span>{{division}}</span>
              </div>
            </div>
          </div>
          <div class="card-inner-image">
            <img title="card image" :src="imageUrl" v-show="imageUrl" />
            <div class="card-inner-illus">
              <span class="u-no-stroke">{{illus}}</span>
              <span>{{illus}}</span>
            </div>
          </div>
          <div class="card-inner-meme">
            {{meme}}
            <span>{{formatedId}}</span>
          </div>
          <div class="card-inner-effect">
            {{effect}}
          </div>
          <div class="card-inner-bottom">
            <div class="card-inner-cost power u-center">
              <div class="u-flex-one">
                <span class="u-no-stroke">{{power}}</span>
                <span>{{power}}</span>
              </div>
              <div>
                <span class="u-no-stroke">/</span>
                <span>/</span>
              </div>
              <div class="u-flex-one">
                <span class="u-no-stroke">{{toughness}}</span>
                <span>{{toughness}}</span>
              </div>
            </div>
            <div class="card-inner-flavor u-flex-one">
              {{flavor}}
            </div>
          </div>
        </div>
      </div>
      <div id="cardBack" class="card-container u-center" v-show="mode===1">
        <div class="card-back" :class="{ 'card-back-border': isBackBorder }">
          <img title="card image" :src="imageUrl" v-show="imageUrl" />
        </div>
      </div>
      <div id="deck" class="deck-container" v-show="mode===2">
        <table class="deck-table">
          <thead>
            <tr>
              <th>削除</th>
              <th>表裏</th>
              <th>ID</th>
              <th>名前</th>
              <th>枚数</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="card in sortedDeck" :key="card.id">
              <span v-if="card !== undefined">
                <td>
                  <button @click="removeCard(card.id)" type="button" tabindex="-1">削除</button>
                </td>
                <td>
                  <img class="deck-image" title="image" :src="card.dataUrl" />
                  <img class="deck-image" title="image" :src="backCard.dataUrl" v-if="!!backCard" />
                </td>
                <td>{{card.id}}</td>
                <td>{{card.name}}</td>
                <td>
                  <input type="number" min="1" max="4" v-model="card.count" title="枚数"
                    @change="if(!Number.isInteger(card) || card.count < 1) card.count = 1; if(card.count > 4) card.count = 4" />
                  <button type="button" @click="card.count=card.count>1 ? card.count-1 : card.count">-1</button>
                  <button type="button" @click="card.count=card.count<4 ? card.count+1 : card.count">+1</button>
                </td>
              </span>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="control-wrapper">
        <div class="control-container">
          <div class="control-row">
            <strong>共通</strong>
          </div>
          <div class="control-row">
            <label for="mode">モード</label>
            <select id="mode" v-model.number="mode">
              <option value="0">前面</option>
              <option value="1">裏面</option>
              <option value="2">デッキ</option>
            </select>
          </div>
          <div class="control-row">
            <label>カード画像</label>
            <button type="button" @click="removeImage" :disabled="!uploadedImage">削除</button>
            <div class="file-wrapper u-center">
              <input type="file" @change=" onUploadImage" placeholder="upload image." :multiple="mode===2" />
              <span>
                カードファイルをアップロード
              </span>
            </div>
          </div>
        </div>
        <div class="control-container" v-if="mode===0 || mode===1">
          <div class="control-row">
            <strong>表面・裏面</strong>
          </div>
          <div class="control-row">
            <label for="name">出力</label>
            <button type="button" @click="output">カード画像を出力</button>
          </div>
          <div class="control-row">
            <label for="id">ID</label>
            <input id="id" v-model="id" type="number" @keydown.enter="output" />
            <button type="button" @click="id=id-1">-1</button>
            <button type="button" @click="id=id+1">+1</button>
          </div>
        </div>
        <div class="control-container" v-if="mode===0">
          <div class="control-row">
            <strong>表面</strong>
          </div>
          <div class="control-row">
            <label for="name">名前</label>
            <input id="name" v-model="name" type="text" />
          </div>
          <div class="control-row">
            <label for="division">ディビジョン</label>
            <input id="division" v-model="division" type="text" />
          </div>
          <div class="control-row">
            <label for="mainColor">ディビジョン色</label>
            <input id="mainColor" v-model="mainColor" type="text" />
          </div>
          <div class="control-row">
            <label for="playCost">プレイコスト</label>
            <input id="playCost" v-model="playCost" type="text" />
          </div>
          <div class="control-row">
            <label for="resolveCost">リゾルブコスト</label>
            <input id="resolveCost" v-model="resolveCost" type="text" />
          </div>
          <div class="control-row">
            <label for="power">攻撃力</label>
            <input id="power" v-model="power" type="text" />
          </div>
          <div class="control-row">
            <label for="toughness">体力</label>
            <input id="toughness" v-model="toughness" type="text" />
          </div>
          <div class="control-row">
            <label for="meme">ミーム</label>
            <input id="meme" v-model="meme" type="text" />
          </div>
          <div class="control-row">
            <label for="effect">効果</label>
            <textarea id="effect" v-model="effect" rows="4"></textarea>
          </div>
          <div class="control-row">
            <label for="flavor">フレーバー</label>
            <textarea id="flavor" v-model="flavor" rows="4"></textarea>
          </div>
          <div class="control-row">
            <label for="illustrator">イラストレーター</label>
            <input id="illustrator" v-model="illustrator" type="text" />
          </div>
        </div>
        <div class="control-container" v-if="mode===1">
          <div class="control-row">
            <strong>裏面</strong>
          </div>
          <div class="control-row">
            <label for="isBackBorder">縁あり</label>
            <input id="isBackBorder" type="checkbox" v-model="isBackBorder">
          </div>
        </div>
        <div class="control-container" v-if="mode===2">
          <div class="control-row">
            <strong>デッキ</strong>
          </div>
          <div class="control-row">
            <label for="deckName">デッキ名</label>
            <input id="deckName" v-model="deckName" type="text" />
          </div>
          <div class="control-row">
            <label>デッキ枚数</label>
            <div>{{deckCount}}</div>
          </div>
          <div class="control-row">
            <label for="name">出力</label>
            <button type="button" @click="dataOutput" :disabled="deckDisabled">ユドナリウム用のzipファイルを出力</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/dom-to-image@2.6.0"></script>
  <script src="https://unpkg.com/crypto-js@4.2.0/crypto-js.js"></script>
  <script src="https://unpkg.com/jszip@3.1.5/dist/jszip.min.js"></script>

  <script>
    const MAIN_COLOR_MAP = {
      "クリムゾンスレイヤー": "#CC0033",
      "アジュールブレイン": "#508BC3",
      "フォレストソウル": "#288C66"
    }

    const DECK_XML = `<?xml version="1.0" encoding="UTF-8"?><card-stack location.name="table" location.x="0" location.y="0" posZ="0" rotate="0" zindex="0" owner="" isShowTotal="true"><data name="card-stack"><data name="image"><data type="image" name="imageIdentifier"></data></data><data name="common"><data name="name">#DECK_NAME#</data></data><data name="detail"></data></data><node name="cardRoot">#DECK_CARD_LIST#</node></card-stack>`

    const CARD_XML = `<card location.name="table" location.x="0" location.y="0" posZ="0" state="0" rotate="0" owner="" zindex="0"><data name="card"><data name="image"><data type="image" name="imageIdentifier"></data><data type="image" name="front">#CARD_FRONT#</data><data type="image" name="back">#CARD_BACK#</data></data><data name="common"><data name="name">#CARD_NAME#</data><data name="size">2</data></data><data name="detail"></data></data></card>`

    const App = {
      data() {
        return {
          cardSet: null,
          mode: 0,
          uploadedImage: null,
          id: 1,
          name: "",
          division: "",
          playCost: 0,
          resolveCost: 0,
          power: 0,
          toughness: 0,
          effect: "",
          meme: "",
          flavor: "",
          illustrator: "Bing Image Creator",
          mainColor: "#000000",
          isBackBorder: true,
          backCard: null,
          deck: [],
          deckName: "デッキ",
        };
      },
      computed: {
        illus() {
          return this.illustrator ? `illus. ${this.illustrator}` : "";
        },
        formatedId() {
          return String(this.id).padStart(4, "0")
        },
        imageUrl() {
          if (!!this.uploadedImage) {
            return this.uploadedImage;
          }
          if (this.id === 0 || this.isExistsId(this.id)) {
            return `img/${this.formatedId}.jpg`
          }
          return null;
        },
        deckCount() {
          return this.deck.map(v => v.count).reduce((p, n) => p + n, 0);
        },
        sortedDeck() {
          return this.deck.sort((a, b) => (a.id > b.id) ? 1 : -1);
        },
        deckDisabled() {
          // return this.deckCount !== 30 || !this.backCard;
          return false;
        }
      },
      mounted() {
        this.cardSet = fetch('./data.json')
          .then((res) => res.json())
          .then((json) => {
            this.cardSet = json.cardSet;
            this.setCardDataById(1);
          });
      },
      watch: {
        id(value) {
          if (this.isExistsId(value)) {
            this.setCardDataById(value);
          }
        }
      },
      methods: {
        setCardDataById() {
          const target = (this.id < 1 ?? this.id > 75) ? 1 : this.id - 1;
          const rawData = this.cardSet[target];
          this.name = rawData[1];
          this.division = rawData[2];
          this.playCost = rawData[3];
          this.resolveCost = rawData[4];
          this.power = rawData[5];
          this.toughness = rawData[6];
          this.effect = rawData[7];
          this.meme = rawData[8];
          this.flavor = rawData[9];

          this.setMainColor(this.division);
        },
        isExistsId(value) {
          return value >= 1 && value <= this.cardSet.length;
        },
        setMainColor(division) {
          const color = MAIN_COLOR_MAP[division];
          if (!!color) this.mainColor = color;
        },
        onUploadImage(e) {
          const files = e.target.files || e.dataTransfer.files;
          if (this.mode === 2) {
            this.createDeck(Array.from(files));
          } else {
            this.createImage(files[0]);
          }
        },
        createDeck(files) {
          files.forEach(file => {
            const reader = new FileReader();
            reader.onload = e => {
              const dataUrl = e.target.result;
              const datas = file.name.split("_");
              const card = {
                dataUrl,
                rawFile: file,
                id: datas[0],
                name: datas[1],
                hash: datas[2].replace(".png", ""),
                count: 1,
              }

              if (card.id === "0000") {
                if (this.backCard) {
                  URL.revokeObjectURL(this.backCard.dataUrl)
                }
                this.backCard = card;
                return;
              }
              const index = this.deck.findIndex(v => v.id === card.id);
              if (index >= 0) {
                // FIXME: $setが未定義だった…
                this.deck[index] = card;
                this.deck.splice();
                return;
              }
              this.deck.push(card);
            };
            reader.readAsDataURL(file);
          });
        },
        removeCard(id) {
          const card = this.deck.find(v => v.id === id);
          URL.revokeObjectURL(card.dataUrl)

          this.deck = this.deck.filter(v => v.id !== id);
        },
        createImage(file) {
          const reader = new FileReader();
          reader.onload = e => {
            this.uploadedImage = e.target.result;
          };
          reader.readAsDataURL(file);
        },
        removeImage() {
          this.uploadedImage = null;
        },
        async output() {
          const isFront = this.mode === 0;
          const node = document.getElementById(isFront ? "card" : "cardBack");
          const dataUrl = await domtoimage.toPng(node, { width: 630, height: 880 });

          const blob = dataUrlToBlob(dataUrl);
          const bufferReader = new FileReader();
          bufferReader.onload = async (e) => {
            const wordArray = CryptoJS.lib.WordArray.create(e.target.result);
            const hash = CryptoJS.SHA256(wordArray).toString();

            const formatedName = this.name.replaceAll("_", "");
            const prefixName = isFront ? `${this.formatedId}_${formatedName}_` : `0000_裏面_`;
            donwload(`${prefixName}${hash}.png`, dataUrl);
          };
          bufferReader.readAsArrayBuffer(blob);
        },
        async dataOutput() {
          const deckCardListXml = this.sortedDeck
            .map(card => new Array(card.count).fill(card))
            .flat()
            .map(card => {
              let xml = CARD_XML.replace("#CARD_FRONT#", card.hash);
              xml = xml.replace("#CARD_BACK#", this.backCard.hash);
              return xml.replace("#CARD_NAME#", card.name);
            }).join("");

          let xml = DECK_XML.replace("#DECK_NAME#", this.deckName);
          xml = xml.replace("#DECK_CARD_LIST#", deckCardListXml);

          const zip = new JSZip();
          zip.file("data.xml", xml);
          zip.file(this.backCard.rawFile.name, dataUrlToBlob(this.backCard.dataUrl));
          this.sortedDeck.forEach(card => {
            zip.file(card.rawFile.name, dataUrlToBlob(card.dataUrl));
          })

          zip.generateAsync({
            type: "blob",
            mimeType: "application/zip",
            compression: "DEFLATE"
          }).then((zipBlob) => {
            donwload(`${this.deckName}_${getFormatedDate(new Date())}.zip`, URL.createObjectURL(zipBlob));
          });
        }
      },
    };

    Vue.createApp(App).mount("#app");

    const donwload = (fileName, dataUrl) => {
      const link = document.createElement('a');
      link.download = `${fileName}`;
      link.href = dataUrl;
      link.click();
    }

    // https://scrapbox.io/takker/data_URI%E3%82%92Blob%E3%81%AB%E5%A4%89%E6%8F%9B%E3%81%99%E3%82%8B
    const dataUrlToBlob = (dataUrl) => {
      const byteString = atob(dataUrl.split(',')[1]);
      const mimeType = dataUrl.match(/:([a-z\/\-]+);/)[1];

      let buffer = new Uint8Array(byteString.length);
      for (let i = 0; i < byteString.length; i++) {
        buffer[i] = byteString.charCodeAt(i);
      }
      return new Blob([buffer], { type: mimeType });
    }

    const utf8Encoder = new TextEncoder("utf8");
    function stringToByteArray(value) {
      return utf8Encoder.encode(value);
    }

    const getFormatedDate = (date) => {
      const yyyy = date.getFullYear();
      const mm = String(date.getMonth() + 1).padStart(2, "0");
      const dd = String(date.getDate()).padStart(2, "0");
      const h = String(date.getHours()).padStart(2, "0");
      const m = String(date.getMinutes()).padStart(2, "0");
      const s = String(date.getSeconds()).padStart(2, "0");
      return [yyyy, mm, dd, "_", h, m, s].join("");
    }
  </script>
</body>

</html>